/* CSS */


html{
	font-size: 12px;
}

body{
	font-family: "jaf-facitweb",sans-serif;
}

a{
	text-decoration: none;
	color: #ffffff;
}


#header{
	top:0;
	display: block;
	max-width: 680px;
	z-index: 2;
	color: #FFFFFF;
	padding: 10px;
	position: relative;
}

h1{
	text-transform: uppercase;
	font-weight:500;
	font-size:20px;
	margin: 0 0 4px;
	padding:7px;
	background:#000000;
	display: block;
	float: left;
}


#header .subtitle a:hover{
	text-decoration:underline;
}

#header #menu{
	margin-bottom:4px;
}

#header #menu ul{
	list-style: none;
}

#header #menu li{
	background-color:black;
	float: left;
}

#header #menu li+li{
	margin-left: 4px;
}


#header #menu li.active{
	background-color:white;
}

#header #menu li a{
	text-decoration: none;
}

#header #menu li.active a{
	color: black;
}

#header #menu li:hover{
	text-decoration: none;
	background: #FFFFFF;
	color: #000000;
}

#header .index li:hover{
	text-decoration: none;
	background: #FFFFFF;
	color: #000000;
}

#header #menu li:hover a{
	color: black;
}




#header #content{
	margin: 0 0 4px;
	line-height:150%;
	clear: both;
	display: block;
	float: left;
	max-width: 480px;
}

#header #content img{
	border:0;
}
	

.presentation,
.fr,
.de,
.en,
.index{
	padding:7px;
	background:#000000;
}

#content .presentation,
#content .fr,
#content .de,
#content .en,
#content .index{
	margin-top:4px;
}

#content .index{
	padding: 0;
	line-height:200%;
}

#content .index ol{
	list-style: none;
	padding: 0;
}

#content .index li{
	padding: 0px 21px;
}

#content .index li:first-child{
	padding-top: 7px;
}
#content .index li:last-child{
	padding-bottom: 7px;
}


#content .index li span{
	display: inline-block;
	width: 25px;
	text-align: right;
	margin-right: 10px; 
}

/* STYLE DU TEXTE DE CONTENU */
#content>div{
	background:black;
}

#content p{
	background:black;
}

#content .presentation img{
	margin: 20px 15px 20px 0;
	float: left;
}

.reset{
	clear: both;
}

.subtitle{
	text-transform:none;
	position: relative;
	margin: 0 0 4px;
	padding:7px;
	display: block;
	float: left;
}

p{
	margin: 0;
	padding: 14px;
	background:#000000;
}

ul{
	padding: 0px;
	margin:0px;
}

ol{
	margin:0px;
	padding-left:27px;
	padding-right:0px;
}

.iconographie{
	z-index: 1;
	position: fixed;
	top: 59px;
	left: 0;
	right: 0;
	bottom: 0;
	overflow: auto;
}

.legend{
	background:white;
}



.item{
	display:table-cell;
 	padding: 55px 0px 50px 150px;
 	padding-left: 50px;
 	vertical-align: bottom;
 	text-align: center;
}

#index {
	height:200px;
	width:800px;
}

#index.item li{
	position:relative;
	display:inline-block;
	padding: 0; 
	margin: 0px 0px;
}
#index.item li img{
	border:0;
	margin:0;
	padding:0;
	border:solid 10px white
}
#index.item li:hover img{border:solid 10px black
}



#index ul{
	text-align: left;
	width: 600px;
	padding-left:750px;
	list-style:none;
}

.item .container{
	position: relative;
}

.item .image{
	position:relative;
	z-index:2;
}

.item:first-child{
	padding-left:800px;
}

.item:last-child{
	padding-right:400px;
}

.item button{
	display: inline-block;
	outline: none;
	border:none;
	background:transparent;
    cursor:pointer;
    position:absolute;
    bottom:7px;
    left:-28px;
    padding:0;
    margin:0;
}

.item img{
	border: solid 10px white;
}


.item .description{
	position: absolute;
	bottom:0px;
	left: 0;
	width: 400px;
 	text-align: left;
 	padding-left:30px;
 	z-index:1;
}


.item p{
	line-height:130%;
	font-weight:400;
}

.item p.legend{

}